* {
    margin: 0;
    padding: 0;
}

.Big-Content {
    height: 55px;
    width: 100%;
    background-color: #2a2a2a;
    display:flex;
    font-size: 15px;
}

.Big-Content .Logo {
    height: 100%;
    width: 3%;
    cursor: pointer;
    padding-left: 10px;
}

.Big-Content .Logo img {
    height: 100%;
    width: 100%;
}

.Big-Content .Menu_List {
    /* background-color: white; */
    width: 75%;
    padding-left: 20px;
}

.Big-Content .Menu_List ul .nav__item {
    display: inline-block;
    list-style: none;
    padding: 15px;
    color: white;
    cursor: pointer;
}

.Big-Content .Menu_List ul .nav__item a {
   text-decoration: none;
   color: white;
}

.Big-Content .Menu_List ul li:hover {
    border-bottom: blue solid 7px;
    color: white;
}

.Big-Content .End-Menu {
    height: 100%;
    display: flex;
    cursor: pointer;

}
.Big-Content .End-Menu i {
    color: white;
    font-size: 22px;
    margin: 15px;
    display: flex;
}

.Big-Content .End-Menu .SignIn  {
    display: flex;
}

.Big-Content .End-Menu .SignIn p {
    color: white;
    font-size: 15px;
    width: 5%;
    margin: 15px 15px 15px 0px;
}

.Big-Content .End-Menu button {
    padding: 15px 40px;
    border: none;
    background-color: blue;
    color: white;
    cursor: pointer;
    margin-right: 0px;
}

/* .Big-Content .Mobie-List {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.8);
}


.Big-Content .Mobie-List ul {
    padding-top: 50px;
    margin-top: 20px;
}

.Big-Content .Mobie-List ul li {
    padding-top: 50px;
    color: white;
}

.Big-Content .Mobie-List ul li i {
    color: white;
    font-size: 35px;
}

.Big-Content .Mobi-Menu .Nar-Close:checked ~ h1 { 
    color: red;
} */


/*Mobile:width<740px*/
@media only screen and (width<=740px){
    .Big-Content .Logo {
        height: 80%;
        width: 10%;
        cursor: pointer;
        padding-left: -5px;
        margin-top: 5px;
       
    }
    .Big-Content .Menu-List {
        margin-top: 5px;
        padding-left: 0px;
        font-size: 10px;
    }
    .Big-Content .End-Menu #Global {
        display: none;
    }

    .Big-Content .End-Menu .SignIn  p {
        display: none;
    }

    .Big-Content .End-Menu button {
        display: none;
    }

    .Big-Content .Mobi-Menu {
        font-size: 45px;
        color: white;
        margin-left: 75%;
    }
    .Big-Content .Logo {
        margin-top: 8px;
        margin-left: 10px;
        height: 40px;
        width: 30px;
    }
    
}
/*Tablet:width>=740px and width<1024px*/
@media only screen and (width>=740px) and (width<1024px){
    .Big-Content .Logo {
        height: 80%;
        width: 10%;
        cursor: pointer;
        padding-left: 10px;
    }
    .Big-Content .End-Menu i {
        font-size: 22px;
        margin: 15px;
        display: flex;
    }
    .Big-Content .End-Menu .SignIn p {
        display: none;
    }

    .Big-Content .Logo {
        height: 80%;
        width: 6%;
        cursor: pointer;
        padding-left: 10px;
        padding-top: 5px;
    }
    .Big-Content .Mobi-Menu {
        display: none;
    }
    .Big-Content .Logo {
       
        height: 40px;
        width: 30px;
    }
    .Big-Content .Nar-Cover {
        display: none;
    }
    .Big-Content .Mobie-List {
        display: none;
    }
    
}

@media only screen and (width>=1024px){
    .Big-Content .Mobi-Menu {
        display: none;
    }
    .Big-Content .Logo {
        margin-top: 8px;
        margin-left: 10px;
        height: 40px;
        width: 30px;
    }
    .Big-Content .Nar-Cover {
        display: none;
    }
    .Big-Content .Mobie-List {
        display: none;
    }

}