* {
    margin: 0;
    padding: 0;
}

.Footer_Container {
    background-color: black;
    width: 100%;
}

.Footer_Container .Footer_Content {
    width: 65%;
    height:360px;
    margin: 0 auto;
    padding-top: 50px;
}


.Footer_Container .Footer_Content .Social_Link a {
    text-decoration: none;
}

.Footer_Container .Footer_Content .Social_Link i {
    color: white;
    font-size: 30px;
    margin-left: 15px;
}

.Footer_Container .Footer_Content .Group_Name{
    margin-top: 20px;
    margin-bottom: 10px;
 }
 
 .Footer_Container .Footer_Content .Group_Name p {
     color: rgba(255, 255, 255, 0.307);
    
 }
 

.Footer_Container .Footer_Content .Orther_Link {
    width: 100%;
    display: flex;
    flex-direction: row;

}

.Footer_Container .Footer_Content .Orther_Link .Link_group {
    display: flex;
    flex-direction:  column;
    padding-left: 20px;
}
 

.Footer_Container .Footer_Content .Orther_Link .Link_group a{
    text-decoration: none;
    color: white;
}

.Footer_Container .Footer_Content .Orther_Link .Link_group a:hover{
    color: blue;
}


@media only screen and (width<740px){
    .Footer_Container .Footer_Content .Orther_Link table tr button {
        border: white solid 1px;
        background-color: black;
        color: white;
        padding: 10px;
        margin-top: 6px;
        font-size: 9px;
    }
    .Footer_Container .Footer_Content .Social_Link i {
        color: white;
        font-size: 20px;
        margin-left: 15px;
    }
    
    .Footer_Container .Footer_Content {
        padding-top: 25px;
        width: 95%;
    }
}
/*Tablet:width>=740px and width<1024px*/
@media only screen and (width>=740px) and (width<1024px){
    .Footer_Container .Footer_Content {
        width: 95%;
        
    }
}

@media only screen and (width>=1024px){
  
}