* {
    margin: 0;
    padding: 0;
}

.Game-Detail-Container {
    background-color: rgb(18, 18, 18);
    width: 100%;
    .Detail-Content {
        width: 70%;
        margin: 0 auto;
        display: flex;
        .Game-Detail-Image {
            margin-top: 20px;
            height: 400px;
            width: 60%;
            img {
                height: 100%;
                width: 100%;

                &:hover {
                    opacity: 0.5 ;
                }
            }
        }
        .Game-Info {
            margin-left: 10%;
            margin-top: 5%;
            h2 {
                color: white;
            }
            h3 {
                color: blue;
            }
            .Btn-Buy {
                padding: 10px;
                width: 100%;
                margin-top: 10%;
                border-radius: 5px;
                cursor: pointer;
                &:hover {
                    background-color: silver;
                }
            }
            .Btn-AddCart {
                padding: 10px;
                width: 100%;
                margin-top: 5%;
                border-radius: 5px;
                background-color: rgb(18, 18, 18);
                border-color: white;
                color: white;
                cursor: pointer;
                &:hover {
                    background-color: rgba(192, 192, 192, 0.275);
                }
            }
            .Btn-Wish {
                padding: 10px;
                width: 100%;
                margin-top: 5%;
                border-radius: 5px;
                font-size: 12px;
                background-color: rgb(18, 18, 18);
                border-color: white;
                color: white;
                cursor: pointer;
                &:hover {
                    background-color: rgba(192, 192, 192, 0.275);
                }
            }
        }
    }
    h1 {
        padding-top: 10px;
        color: white;
        margin-left: 15%;
    }
    .Describe {
        width: 70%;
        margin: 0 auto;
        p {
            margin-top: 50px;
            color: rgba(255, 255, 255, 0.464);
        }
        h4 {
            color: white;
        }
    }
    .Sale-Product-Detail {
        margin: 20px auto 0px;
        width: 70%;
        p {
            color: silver;
            font-size: 25px;
        }
        .Content-Card {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;

            .Card {
                width: 32%;
                box-shadow: 0 0 5px white;
                margin: 5px;
                .Img-Card {
                    width: 100%;
                   img {
                       width: 100%;
                       height: 350px;
                   }
                }
                .Text {
                    padding: 5px;
                    color: white;
                    .Price {
                        display: flex;
                        justify-content: space-between;
                    }
                }
            }
        }
    }

    
}

@media only screen and (max-width: 740px){
    .Game-Detail-Container {
        padding-bottom: 50px;
        
        .Detail-Content {
            flex-direction: column;
            .Game-Detail-Image {
                width: 100%;
            }
            .Game-Info {
                margin-left: 0px;
            }
        }
        .Describe {
            display: none;
        }
        .Sale-Product-Detail {
            display: none;
        }
    }
	
}
/*Tablet:width>=740px and width<1024px*/
@media only screen and (min-width: 740px) and (max-width: 1024px){
    .Game-Detail-Container {
        h1 {
            margin-left: 5%;
        }
        .Detail-Content {
            width: 90%;
        }
        .Describe {
            width: 90%;
        }
        .Sale-Product-Detail {
            width: 100%;
        }
    }
    
}

@media only screen and (min-width: 1024px) {
   
}
